
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("View Profile","Profile",new {auth = @Session["UserId"]})
<br />
@Html.ActionLink("Edit Profile", "Edit")
<br />
@Html.ActionLink("Logout","Logout")
<br />
@Html.ActionLink("Projects","Index","Project")
