@model Project_Management.Models.Users

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<div>
    <h4>Users</h4>
    <hr />
    <dl class="dl-horizontal">
       

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

       

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

      

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
       
        <dd>
           
            <img   src="@Model.ProfileImage" width="10%" />
         
           
        </dd>
        <dd>
           
        </dd>
    </dl>
    
    
</div>
<p>
   
</p>
